<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scheduler</title>
    <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
</head>

<body class="bg-[#E8ECEF]">
    <section class="body-font">
        <div class="container px-5 py-24 mx-auto text-center item-center justify-center">
            <h1 class="text-4xl font-extrabold">Scheduler</h1>
            <div class="space-x-1 mt-5">
                <div class="mt-5">
                    <div class="grid grid-cols-4">
                        <div class="col-start-2">
                            <a href="/">
                                <button type="button"
                                    class="text-white bg-[#050708] hover:bg-[#050708]/80 focus:ring-4 focus:outline-none focus:ring-[#050708]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:hover:bg-[#050708]/40 dark:focus:ring-gray-600 mr-2 mb-2">
                                    Jobs
                                </button>
                            </a>
                        </div>
                        <div class="col-start-3">
                            <a href="/history">
                                <button type="button"
                                    class="text-white bg-[#050708] hover:bg-[#050708]/80 focus:ring-4 focus:outline-none focus:ring-[#050708]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:hover:bg-[#050708]/40 dark:focus:ring-gray-600 mr-2 mb-2">
                                    History
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="w-96 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700">
            <div class="justify-center text-center item-center grid grid-cols-2">
                <div class="mx-5">
                    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                            <thead
                                class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="px-6 py-3">
                                        Name
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Status
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Exec Path
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for project in projects %}
                                    <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                                        <th scope="row"
                                            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                            {{project.name}}
                                        </th>
                                        <td class="px-6 py-4">
                                            {{project.status}}
                                        </td>
                                        <td class="px-6 py-4">
                                            {{project.exec_path}}
                                        </td>
                                        <td class="px-6 py-4">
                                            {% if project.status == 'no_schedule' %}
                                                <a href="/edit/{{project.name}}"
                                                    class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                                            {% else %}
                                                <a href="/deleteTrigger/{{project.status}}/{{project.name}}"
                                                    class="font-medium text-blue-600 dark:text-blue-500 hover:underline">RM Trigger</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>


                </div>
                <div class="mx-5 space-y-10">
                    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                            <thead
                                class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="px-6 py-3">
                                        Name
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Created At
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for http in http_triggers %}
                                    <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                                        <th scope="row"
                                            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                            {{http.name}}
                                        </th>
                                        <td class="px-6 py-4">
                                            {{http.created_at}}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                            <thead
                                class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="px-6 py-3">
                                        Name
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Created At
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Config
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for time in time_triggers %}
                                    <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                                        <th scope="row"
                                            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                            {{time.name}}
                                        </th>
                                        <td class="px-6 py-4">
                                            {{time.created_at}}
                                        </td>
                                        <td class="px-6 py-4">
                                            {{time.config}}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                            <thead
                                class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="px-6 py-3">
                                        Name
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Created At
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Parent
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Type
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dependency in dependency_triggers %}
                                    <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                                        <th scope="row"
                                            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                            {{dependency.name}}
                                        </th>
                                        <td class="px-6 py-4">
                                            {{dependency.created_at}}
                                        </td>
                                        <td class="px-6 py-4">
                                            {{dependency.parent}}
                                        </td>
                                        <td class="px-6 py-4">
                                            {{dependency.trigger_type}}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>